
#checkout-title {
    /* font-family: 'Arial', 'Helvetica', sans-serif; */
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Montserrat', sans-serif;

    text-align: center;
    margin: 15px 0;
}

main {    
    width: 70%;
    /* width: 100%; */
    /* left: 70%; */
    /* transform: translateX(-50%); */
    
    /* display: flex;
    justify-content: center; */
    margin: 35px auto;
}

#products-preview {
}

#product-painel {
    width: 100%;
    border-radius: 10px;
    background-color: #eeeeee;
    padding: 10px 20px;

    /* display: flex; */
    /* flex-wrap: wrap; */

    border: 3px solid #f2994a;
}

#product-painel .products {
    /* display: flex; */
    width: 90%;
    margin: 10px auto;
    /* background-color: #d0cece; */
    border-radius: 10px;

    /* border: 3px solid #f2994a; */

}

#product-painel .product {
    display: flex;
    width: 100%;
    margin: 15px 0;

}

.product img {
    width: 30%;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;

    /* border: 2px solid red; */
}

.product-info {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Montserrat', sans-serif;
    width: 100%;

    /* border: 3px solid #f2994a; */
}

.product-info h2 {
    font-size: 16px;
    /* font-size: 1.5rem; */
    font-family: 'Montserrat', sans-serif;
    color: #4e5150;
    margin: 5px 0;
}

.product-info p {
    font-size: 12px;
    /* font-size: 1.2rem; */
    color: #4e5150;
    margin: 5px 0;
}

.product-info p strong {
    color: #f2994a;
    font-size: 16px;
    /* font-size: 1.4rem; */
    font-weight: 600;
}

.quantity-controller {
    border-radius: 5px;
    border: 1px solid rgb(136, 136, 136);
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-top: 25px;
}
.quantity-controller p {
    line-height: 24px;
    /* padding: 4px 0; */
}

.line-through {
  text-decoration: line-through;
}

.product-price strong::before {
  content: "$";
}

.line-through::before {
  content: "$";
}

.product-line-price:before {
  content: "Product Total: $";
}

span {
    cursor: pointer;
}

.minus, .plus {
    width: 20px;
    height: 20px;
    margin: 6px;

    background-color: #e0e0e0;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    /* text-align: center; */
    /* vertical-align: middle; */

    padding: 0px 4px;
    font-weight: bold;
    font-size: 15px;
}

/*! button-remove */
.remove-product {
    background-color: #c66;
    color: #fff;
    border: 0;
    border-radius: 3px;
    padding: 4px 8px;
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    
    /* width: 40%; */
    /* text-align: center; */
}

.remove-product:hover {
  background-color: #a44;
}

/*! Totals */
.buy-detail {
    margin: 5px auto;
    border-top: 1px solid #f2994a;
    width: 90%;
    font-family: 'Montserrat', sans-serif;


    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding: 2px 0px 10px 0px;
    font-size: 16px;

    /* border: 3px solid #f2994a; */
}

